{% extends 'base.html' %}

{% block header %}
About me
{% endblock %}

{% block header_desc %}
Aspiring computer engineer
{% endblock %}

{% block main %}
    <h2 class="display-4">Education</h2>
    {% for key in education %}
    <div class="row">
        <div class="col-lg-8 col-sm-12 center mx-auto">
            <div class="card education">
                <img class="card-img-top education-image" src="../{{ education[key]['image'] }}" alt="Card image cap">
                <div class="card-header">
                    <h4>{{ education[key]['school'] }}</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-subtitle mb-2 text-muted">{{ education[key]['year'] }}</h4>
                    <h5 class="card-title">{{ education[key]['major'] }}, {{ education[key]['gpa'] }}</h5>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% endfor %}
{% endblock %}
