<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willem Mirkovich</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!-- nav -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Willem Mirkovich</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ url_for('main') }}">Home</a>
            <a class="p-2 text-dark" href="{{ url_for('about') }}">About</a>
            <a class="p-2 text-dark" href="{{ url_for('experience') }}">Experience</a>
            <a class="p-2 text-dark" href="{{ url_for('projects') }}">Projects</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{ url_for('resume') }}">My Resume</a>
    </div>
    <!-- end nav -->
    <!-- header -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="main-header display-3">{% block header %}{% endblock %}</h1>
            <p class="lead header-desc">{% block header_desc %}{% endblock %}</p>
        </div>
    </div>
    <!-- end header -->
    <div class="container">
        <div class="text-align">
            {% block main %}
            {% endblock %}
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-6 col-md">
                    <!--
                    <img width="64px" height="64px" src="../static/img/headshot.jpg">
                    -->
                    <h5>Contact Me</h5>
                </div>
                <div class="col-6 col-md">
                    <a href="mailto:willemmirkovich@gmail.com"><img src="../static/icon/gmail.png"></a>
                </div>
                <div class="col-6 col-md">
                    <a href="https://www.linkedin.com/in/willem-mirkovich-48a417153/"><img src="../static/icon/linkedin.png"></a>
                </div>
                <div class="col-6 col-md">
                    <a href="https://github.com/willemmirkovich"><img src="../static/icon/github.png"></a>
                </div>
            </div>
		</footer>
    </div>
</body>
</html>